body {
text-align: center;
background-color: #FFF;
}
#wrapper {
margin: auto;
padding: 0px;
width: 950px;
position: relative;
background-color: #FFF;
text-align: left;
}
#breadImage {
margin: 10px;
padding: 0px;
float: right;
height: 316px;
width: 438px;
}
#header {
margin: 0px;
padding: 0px;
width: 950px;
background-color: #FFF;
height: 235px;
}
#header img {
vertical-align: bottom;
}
#leftSide {
width: 635px;
float: left;
background-color: #FFF;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
margin: 0px;
padding: 0 20px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 100%;
color: #000;
}
#sidebarTop {
float: right;
width: 240px;
margin: 0px;
padding: 0px;
}
#leftSidePhoto {
margin: 10px;
padding: 0px;
float: right;
height: 232px;
width: 200px;
}
#wrapper #rightSide p {
font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
font-size: 100%;
color: #000;
margin-left: 20px;
margin-right: 10px;
}
#footer {
margin: 0px;
padding: 0.5em 0 1em 0;
width: 950px;
clear: both;
float: none;
background-color: #FFF;
font-family: "Gill Sans","Gill Sans MT","Calibri",sans-serif;
font-size: 100%;
color: #FFF;
text-align: center;
}
#sidebarBottom {
width: 240px;
margin: 0px;
padding: 0px;
}
.twoTreesName {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 100%;
font-style: italic;
font-weight: bold;
font-variant: normal;
color: #02109f;
}
.testimonialName {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-variant: normal;
font-size: 85%;
}
h1 {
color: #02109f;
font-size: 14pt;
font-weight: bold;
font-family: "Gill Sans","Gill Sans MT","Calibri",sans-serif;
}
#navbar {
float: right;
width: 777px;
margin: 0px;
padding: 0px;
height: 188px;
background-color: #FFF;
}

#navbar a {
display: block;
font-size: 123.1%;
text-align: center;
color: #500;
width: 100%;
padding: 40px 0;
}
#navbar a:hover,
#navbar a:focus {
text-decoration: none;
color: #E8DB5A;
}
#navbar a.active {
color: #02109f;
}
#about {
position: absolute;
height: 91px;
width: 82px;
left: 367px;
top: 50px;
}
#process {
position: absolute;
height: 91px;
width: 97px;
left: 527px;
top: 50px;
}
#shop {
position: absolute;
height: 91px;
width: 77px;
left: 692px;
top: 50px;
}
#contact {
position: absolute;
height: 91px;
width: 105px;
left: 829px;
top: 50px;
}
#home {
position: absolute;
height: 91px;
width: 81px;
left: 226px;
top: 50px;
}
#rightSide {
margin: 0px;
padding: 0px;
width: 240px;
float: right;
background-color: #FFF;
}
#wrapper #header img {
margin: 0px;
padding: 0px;
background-color: #FFF;
}
#wrapper #leftSide p #FlashID {
float: left;
padding: 0px;
margin: 10px;
}
#ProcessPageMain {
margin: 10px 20px;
width: 910px;
padding: 0px;
font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
font-size: 100%;
}
#wrapper #ProcessPageMain p {
margin-right: 20px;
margin-left: 20px;
}
#wrapper #ProcessPageMain p #FlashID {
float: left;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 25px;
}
#leftSidePhoto2 {
padding: 0px;
float: left;
height: 289px;
width: 400px;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 105px;
}
#wrapper #PageMain {
margin: 10px;
padding: 0px;
width: 930px;
}
#wrapper #PageMain p {
list-style-image: none;
list-style-type: none;
margin: 20px;
padding: 0px;
font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
font-size: 100%;
}
#wrapper #PageMain ul li {
font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
font-size: 100%;
}
h3 {
text-align: center;
font-family: "Gill Sans","Gill Sans MT","Calibri",sans-serif;
font-size: 130%;
font-weight: bold;
}
h2 {
font-family: "Gill Sans","Gill Sans MT","Calibri",sans-serif;
font-size: 100%;
font-weight: bold;
color: #02109f;
padding: 0px;
}
.cart .item {
margin-bottom: 1.5em;
}
.cart p {
color: #02109f;
margin: 0 0 0.5em;
}
.cart .info {
margin-bottom: 0.4em;
}
.cart .group {
margin-bottom: 0.5em;
}
.cart #results {
font-size: 93%;
color: #777;
}
a:link {
color: #a8c686;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: #FFF;
}
a:hover {
text-decoration: underline;
color: #FC6;
}
a:active {
text-decoration: none;
color: #FC6;
}
#tab-group h3 {
text-align: left;
}
#tab-group h3 {
text-align: left;
}
.ready {
position: relative;
margin-bottom: 2em;
}
#tab-group.ready .tab-header {
font-weight: normal;
font-size: 13px;
text-transform: uppercase;
padding: 4px 6px;
}
.ready .tab-header {
position: absolute;
top: 0;
margin: 0;
padding: 0.25em 0.5em;
left: 0;
background: #b9c6aa;
border: 1px solid #999;
border-radius: 4px 4px 0 0;
z-index: 2;
cursor: pointer;
}
.ready .tab-header.active {
background: white;
border-bottom-color: white;
}
.ready .tab-content {
position: relative;
top: 0;
margin: 0;
padding: 0.5em;
top: 24px;
border: 1px solid #999;
z-index: 1;
background: white;
zoom: 1;
}
.ready .tab-content:after {
content: "\0020";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.ready #tab-header-2 {
left: 10em;
}
.ready #tab-header-3 {
left: 18.5em;
}
.ready #tab-header-4 {
left: 23.1em;
}
.ready .tab-content {
display: none;
}
.ready .tab-content p {
margin: 0;
padding: 0 0 1em;
}
.ready .tab-content.active {
display: block;
}
a:link {
text-decoration: none;
color: #02109f;
}
a:visited {
text-decoration: none;
color: #FFF;
}
a:hover {
text-decoration: underline;
color: #FC6;
}
a:active {
text-decoration: none;
color: #FC6;
}
#my-map {
width: 500px;
height: 400px;
margin: 1em auto;
}